body {
    font-family: 'ChakraPetch';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background-color: $black-100;
    color: $white;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.video {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 196px;
    width: 100%;
    height: 127px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 28px;
        height: 28px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../images/icons/play.png");
        @include background-feature ();
    }

}

.page-section {
    margin-bottom: 150px;
}

.btn--dark{
    padding: 18px 38px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $black-80;
    @include border-linear ();
}

.btn--color {
    display: inline-block;
    padding: 18px 38px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, $liner-blue, $liner-pink);
}

.title {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, $liner-blue, $liner-pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 12px;
}

.subtitle {
    display: block;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    margin-bottom: 12px;
}

.style--img {
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;
    }

    &::after {
        max-width: 399px;
        width: 100%;
        height: 497px;
        left: -20px;
        bottom: 0;
        background-color: $black-50;
        z-index: -2;
    }

    &::before {
        @include light ();
        left: 50%;
        transform: translateX(-50%);
        @include background-feature ();
    }

}