body {
    font-family: 'ChakraPetch';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background-color: $black-100;
    color: $white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn--unfill {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, $liner-blue, $liner-pink);
    border-image-slice: 1;
}

.btn--fill {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, $liner-blue, $liner-pink);
}