$white: #ffffff;
$black-100: #18181B;
$black-80: #252532;
$black-50: #252532;
$grey-1: #B0B0B2;
$grey-2: #D1D1D1;
$liner-pink: #E95CE9;
$liner-blue: #0CBAF1;

@mixin block () {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba($white, 0.3), rgba($white, 0));
    border-image-slice: 1;
    background-color: $black-50;
}

@mixin border-linear () {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(90deg, $liner-blue, $liner-pink);
    border-image-slice: 1;
}

@mixin light () {
    content: '';
    position: absolute;
    width: 987px;
    height: 760px;
    background-image: url("../images/decor/light.png");
    z-index: -1;
}

@mixin background-feature () {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}