@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';


.header {
    padding: 31px 0;
    margin-bottom: 13px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 736px;
        height: 354px;
        right: 0;
        top: 0;
        background-image: url("../images/decor/header-bg.png");
        @include background-feature ();
        z-index: -1;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__list {
            display: flex;
            font-weight: 300;
        }

        &__item {

            &:not(:last-child) {
                margin-right: 64px;
            }

            &--more {
                padding-right: 16px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background-image: url("../images/icons/menu-more.svg");
                    @include background-feature ();
                }

                &:not(:last-child) {
                    margin-right: 48px;
                }

            }

        }

        &__link {

            &--active {
                font-weight: 500;
            }

        }

        &__btn {
            padding: 12px 24px;
            font-weight: 300;
            @include border-linear ();

            &:hover {
                background: linear-gradient(90deg, $liner-blue, $liner-pink);
            }

        }

    }

}


.top {
    background-image: url("../images/decor/top-bg.png");
    background-repeat: no-repeat;
    background-position: 0 60%;
    background-size: auto;
    margin-bottom: 144px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 540px;
    }

    &__title {
        font-size: 64px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 12px;
    }

    &__text {
        max-width: 446px;
        @include text ();
        margin-bottom: 32px;
    }

    &__btn {
        margin-bottom: 42px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        position: relative;

        &::before {
            @include light ();
        }

    }

}


.clients {
    display: flex;
    align-items: center;

    &__inner {
        display: flex;
        margin-right: 18px;
    }

    &__img {
        object-fit: contain;

        &:not(:first-child) {
            margin-left: -13px;
        }

    }

    &__text {
        font-weight: 300;
        color: $grey-2;

        span {
            font-weight: 600;
            margin-right: 5px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 48px;
                height: 7px;
                bottom: -2px;
                left: -6px;
                background-image: url("../images/decor/client-mark.png");
                @include background-feature ();
            }

        }

    }

}


.benefits {
    @include block ();
    padding: 42px 64px 53px 64px;
    display: flex;
    justify-content: space-between;

    &__item {
        max-width: 325px;
        padding-top: 112px;
        position: relative;

        &:not(:last-child) {
            margin-right: 50px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 70px;
            top: 0;
            left: 0;
            @include background-feature ();
        }

        &--expertise::before {
            background-image: url("../images/benefits/expertise.svg");
        }

        &--customization::before {
            background-image: url("../images/benefits/customization.svg");
        }

        &--service::before {
            background-image: url("../images/benefits/service.svg");
        }

    }

    &__title {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 12px;
    }

    &__text {
        font-size: 14px;
        color: $grey-1;
    }

}


.about {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .style-img {
        margin-left: 20px;
    }

    &__video {
        position: absolute;
        right: 20px;
        bottom: -20px
    }

    &__content {
        max-width: 562px;
    }

    &__text {
        max-width: 528px;
        @include text ();
        margin-bottom: 24px;
    }

    &__list {
        margin-bottom: 32px;
    }

    &__item {
        padding-left: 28px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("../images/icons/about.svg");
            @include background-feature ();
        }

        &:not(:last-child) {
            margin-bottom: 14px;
        }

    }

}


.service {
    position: relative;

    &::before {
        @include light ();
        top: 5%;
        left: 70%;
        width: 25%;
        height: 20%;
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 46px;
    }

    &__box {
        margin-right: 70px;
    }

    .subtitle {
        text-wrap: nowrap;
    }

    &__text {
        max-width: 625px;
        @include text ();
    }

    &__list {
        column-count: 3;
        grid-gap: 30px;
    }

    &__item {
        @include block ();
        padding: 134px 32px 25px 32px;
        max-width: 379px;
        min-height: 291px;
        margin-bottom: 30px;
        position: relative;
        transition: all 0.3s;

        &::before {
            content: '';
            position: absolute;
            width: 48px;
            height: 48px;
            top: 25px;
            left: 32px;
            @include background-feature ();
        }

        &--development::before {
            background-image: url("../images/service/development.svg");
        }

        &--games::before {
            background-image: url("../images/service/games.svg");
        }

        &--design::before {
            background-image: url("../images/service/design.svg");
        }

        &--events::before {
            background-image: url("../images/service/events.svg");
        }

        &--consulting::before {
            background-image: url("../images/service/consulting.svg");
        }

        &--entertainment::before {
            background-image: url("../images/service/entertainment.svg");
        }

        &:hover {
            @include border-linear ();
        }

        &:hover .service__item-bottom::before,
        &:hover .service__item-btn {
            opacity: 1;
        }

    }

    &__item:nth-child(3) {
        display: inline-block;
        margin-top: 57px;
    }

    &__item:nth-child(5) {
        display: inline-block;
        margin-top: 135px;
    }

    &__item-bottom {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: linear-gradient(180deg, rgba(37, 37, 50, 0) 0.66%, rgba(37, 37, 50, 0.91) 53.72%, #252532 100.66%);
            transition: all 0.3s;
        }

    }

    &__item-title {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 12px;
    }

    &__item-text {
        font-size: 14px;
        color: $grey-1;
    }

    &__item-btn {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.3s;
    }

}


.choose {

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 548px;
    }

    .subtitle {
        margin-bottom: 32px;
    }

    .style-img::after {
        left: 5%;
    }

    &__video {
        position: absolute;
        right: 70px;
        bottom: -40px
    }

}


.accordion {

    &__header {
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba($white, 0.35);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-image: url("../images/icons/accordion.svg");
            @include background-feature ();
            transition: all 0.3s;
        }

        &--active::before {
            transform: rotate(180deg);
        }

    }

    &__body {
        color: $grey-2;
        margin-bottom: 48px;
    }

    &__body {
        display: none;

        &.accordion__body--active {
            display: block;
        }

    }

}


.start {
    margin-bottom: 100px;
    position: relative;

    &::before {
        @include light ();
        top: 25%;
        left: 15%;
        width: 25%;
        height: 20%;
        transform: translate(-50%, -50%) rotate(-20deg);
    }

    &__top {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;

        .subtitle {
            margin-bottom: 48px;
        }

    }

    &__wrapper {
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        margin-bottom: 48px;
    }

    &__video {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1200px;
        width: 100%;
        height: 522px;
        transition: all 1s;

        &:hover {
            transform: scale(1.1);
        }

        &::before {
            content: '';
            position: absolute;
            width: 100px;
            height: 100px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/start/play.png");
            @include background-feature ();
            transition: all 0.3s;
        }

        &:hover::before {
            width: 130px;
            height: 130px;
        }

    }

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 52px;
        padding-left: 34px;
    }

    &__video-title {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
    }

    &__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 33px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__play {
        background-image: url("../images/start/play--bottom.svg");
        @include background-feature ();
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    &__line {
        max-width: 1070px;
        width: 100%;
        height: 8px;
        background-color: rgba(255, 255, 255, .3);
        border-radius: 4px;
        position: relative;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }

        &::after {
            width: 10%;
            height: 100%;
            background-color: rgba($white, .5);
            border-radius: 4px;
        }

        &::before {
            width: 8px;
            height: 8px;
            background-color: $white;
            border-radius: 50%;
        }

    }

    &__btn {
        display: block;
        width: 182px;
        height: 50px;
        margin: 0 auto;
    }

}


.price {

    &__text {
        max-width: 625px;
        @include text ();
        margin-bottom: 40px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        @include block ();
        background-color: rgba($black-50, 0.8);
        position: relative;

        &::before {
            @include light ();
            left: 70%;
            width: 70%;
        }

    }

    &__list {
        padding: 55px 118px 55px 42px;
        max-width: 758px;
        margin-right: 50px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 80%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: rgba($white, 0.2);
        }

    }

    &__item {
        padding-left: 58px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 42px;
            height: 42px;
            top: 0;
            left: 0;
            background-image: url("../images/price/icon.svg");
            @include background-feature ();
        }

        &:not(:last-child) {
            margin-bottom: 32px;
        }

    }

    &__item-title {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    &__item-text {
        color: $grey-1;
    }

    &__img {
        object-fit: contain;
        align-self: flex-end;
    }

    &__box {
        position: absolute;
        bottom: -5%;
        right: 10%;
        text-align: center;
        padding: 20px 70px;
        @include border-linear ();
        background-color: $black-80;

        span {
            display: block;
            text-align: center;
        }

    }

    &__from {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: $grey-2;
    }

    &__num {
        font-size: 60px;
        font-weight: 600;
        line-height: 66px;
        margin-bottom: 14px;
    }

    &__btn {
        margin-bottom: 14px;
    }

    &__guarantee {
        color: $grey-1;
        font-size: 12px;
        line-height: 20px;
    }

}


.partners {

    &__top {
        max-width: 870px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 58px;
    }

    &__content {
        position: relative;

        &::before {
            @include light ();
            width: 40%;
        }

    }

    &__img {
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        position: absolute;

        &:nth-child(4) {
            top: 3%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(1) {
            top: 60%;
            left: 3%;
        }

        &:nth-child(7) {
            top: 60%;
            right: 3%;
        }

        &:nth-child(2) {
            top: 30%;
            left: 10%;
        }

        &:nth-child(6) {
            top: 30%;
            right: 10%;
        }

        &:nth-child(3) {
            top: 10%;
            left: 26%;
        }

        &:nth-child(5) {
            top: 10%;
            right: 26%;
        }

    }

    &__item-img {
        width: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem);
        height: clamp(2.5rem ,1.1363636364rem + 6.8181818182vw ,6.25rem);
    }

}


.articles {
    background-image: url("../images/decor/top-bg.png");
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: auto;
    margin-bottom: 64px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 72px;
    }

    &__bottom {
        display: flex;
        margin-bottom: 230px;
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 32px;
    }

    &__link {
        @include border-linear ();
        width: 50px;
        height: 50px;
        background-color: rgba($white, 0.06);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/icons/arlicle-link.svg");
            @include background-feature ()
        }

        &:hover {
            background: linear-gradient(90deg, $liner-blue, $liner-pink);
        }

    }

    &__popular {
        max-width: 636px;
        width: 100%;
        z-index: 2;
        position: relative;

        &::before {
            @include light ();
            top: 30%;
            left: 20%;
            transform: translate(-50%, -50%) rotate(-20deg);
        }

        &-slide {
            display: flex;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 424px;
            padding: 24px;
        }

        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: auto;
        }

        &-title {
            font-size: 32px;
            font-weight: 600;
            line-height: 44px;
            max-width: 509px;
        }

    }

    .slick-dots {
        display: flex;
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);

        li {
            padding: 0 6px;

            button {
                font-size: 0;
                width: 9px;
                height: 3px;
                border-radius: 32px;
                background-color: rgba($white, 0.3);
                transition: all 0.3s;
            }

            &.slick-active {

                button {
                    width: 17px;
                    background-color: rgba($white, 1);
                }

            }

        }

    }

    &__recent {
        position: absolute;
        width: 100%;
        right: -50%;
        @include block ();
        padding: 32px 97px;

        &-list {
            max-width: 590px;
            max-height: 504px;
            overflow-y: auto;
            padding-right: 46px;
        }

        &-item {

            &:not(:last-child) {
                padding-bottom: 32px;
                margin-bottom: 32px;
                border-bottom: 1px solid rgba($white, 0.15);
            }

        }

        &-box {
            display: flex;
            align-items: center;
        }

        &-img {
            margin-right: 21px;
        }

        &-content {
            max-width: 297px;
            margin-right: 13px;
        }

        &-title {
            font-size: 18px;
            font-weight: 400;
        }

        .simplebar-track.simplebar-vertical {
            background-color: rgba($white, 0.12);
            width: 2px;
            border-radius: 32px;
        }

        .simplebar-scrollbar::before {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            background-color: $white;
        }

    }

}


.subscribe {
    background: linear-gradient(90deg, $liner-blue, $liner-pink);
    width: 100%;
    border-radius: 4px;
    padding: 38px 74px 31px 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 40px;
        font-weight: 600;
        line-height: 58px;
        max-width: 525px;
        margin-right: 50px;
    }

    &__form {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("../images/icons//message-subscribe.svg");
            @include background-feature ();
        }

    }

    &__field {
        background-color: rgba($white, 0.1);
        border-radius: 2px;
        padding: 14px 134px 14px 46px;

        &::placeholder {
            font-size: 15px;
            color: $white;
            transition: all 0.3s;
        }

        &:hover::placeholder {
            color: $grey-2;
        }

    }

    &__btn {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: rgba($white, 0.2);
        transition: all 0.3s;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("../images/icons/message-btn.svg");
            @include background-feature ();
        }

        &:hover {
            background-color: rgba($white, 0.4);
        }

    }

}


.footer {
    padding-top: 115px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 736px;
        height: 354px;
        left: -10px;
        bottom: 0;
        background-image: url("../images/decor/footer-bg.png");
        @include background-feature ();
        z-index: -1;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 33px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-image: linear-gradient(90deg, $liner-blue, $liner-pink);
        border-image-slice: 1;
    }

    &__box {

        &:first-child {
            display: flex;
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-right: 50px;
        }

    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 16px;
    }

    &__list {
        font-weight: 300;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 16px;
        }

    }

    &__bottom {
        font-weight: 300;
        padding: 32px 0 40px 0;
        text-align: center;
    }

}


.social {
    display: flex;
    margin-top: auto;

    &__item {

        &:not(:last-child) {
            margin-right: 20px;
        }

    }

}

.contacts {

    &__item {
        padding-left: 28px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @include background-feature ();
        }

        &--location::before {
            background-image: url("../images/icons/contacts/location.svg");
        }

        &--message::before {
            background-image: url("../images/icons/contacts/message.svg");
        }

        &--phone::before {
            background-image: url("../images/icons/contacts/phone.svg");
        }

        &:not(:last-child) {
            margin-bottom: 16px;
        }

    }

}


@media(max-width: 1100px) {

    .about {

        &__content {
            max-width: 450px;
        }

    }

    .choose {
       
        &__content {
            max-width: 450px;
        }

    }

}


@media(max-width: 992px) {

    .top {

        &__inner {
            display: block;
        }

        &__wrapper {
            flex-direction: column;
        }

        .clients {
            margin-bottom: 40px;
        }

        &__img {
            margin-left: auto;
            margin-right: -80px;
        }

    }

    .benefits {
        padding: 30px;

        &__item {
            padding-top: 90px;
        }

    }

    .about {

        &__inner {
            flex-direction: column;
        }

        .style-img {
            margin-bottom: 80px;
        }

        &__content {
            max-width: 100%;
        }

    }

    .service {

        &__list {
            column-count: 2;
            column-gap: 15px;
        }

        &__item {
            max-width: 480px;
            margin-bottom: 15px;

            &:nth-child(3),
            &:nth-child(5) {
                margin-top: 0;
            }

        }

    }

    .choose {

        &__inner {
            flex-direction: column;
        }

        &__content {
            max-width: 100%;
            margin-bottom: 80px;
        }

        &__video {
            right: 0;
        }

    }

    .price {

        &__inner {
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        &__list {
            max-width: 100%;
            margin: 0 0 50px 0;
            padding: 60px;

            &::before {
                width: 80%;
                height: 1px;
                top: auto;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }

        }

        &__box {
            right: auto;
            left: 5%;
        }

    }

    .subscribe {
        padding: 20px 40px;
        flex-direction: column;

        &__title {
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 20px;
        }

    }

    .footer {

        &__top {
            flex-wrap: wrap;
        }

        &__box {

            &:first-child {
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                margin-right: 0;
                margin-bottom: 60px;
            }

            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 60px;
            }

        }

    }

}


@media(max-width: 768px) {

    .top {

        &__title {
            font-size: 48px;
            line-height: 58px;
            margin-bottom: 0;
        }

        &__btn {
            margin-bottom: 32px;
        }
    }

    .benefits {
        flex-wrap: wrap;

        &__item {
            max-width: 100%;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }

        }

    }

    .service {

        &__inner {
            flex-wrap: wrap;
        }

        &__box {
            margin-right: 0;
        }

    }

    .start {

        &__video {
            height: 370px;

            &::before {
                width: 80px;
                height: 80px;
            }

            &:hover::before {
                width: 100px;
                height: 100px;
            }

        }

        &__info {
            padding-top: 21px;
            padding-left: 10px;
        }

        &__video-title {
            font-size: 20px;
        }

    }

    .price {

        &__list {
            padding: 20px;
        }

    }

}

@media(max-width: 576px) {

    .top {

        .video {
           display: none;
        }
        
    }

    .service {

        &__list {
            column-count: 1;
            column-gap: 15px;
        }

        &__item {
            max-width: 100%;
        }

    }

    .start {

        &__video {
            height: 260px;
        }

        &__bottom {
            padding: 15px;
        }

    }

}


@media(max-width: 480px) {

    .price {

        &__box {
            right: 0;
            left: 0;
            padding: 10px 20px;
        }

    }

    .subscribe {
        padding: 10px;

        &__field {
            width: 100%;
            padding-right: 50px;

            &::placeholder {
                font-size: 14px;
            }
        }

    }

    .footer {

        &__box {

            &:first-child {
                flex-direction: column;
                align-items: center;
            }

        }

        .logo {
            margin-bottom: 20px;
        }

    }

}